.chat-container {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 400px; /* Ajuste conforme necessário */
  height: 300px; /* Ajuste conforme necessário */
  overflow-y: auto; /* Adiciona barra de rolagem vertical se o conteúdo exceder a altura */
}

.mensagem {
  background-color: #f2f2f2;
  margin: 10px 0;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 70%; /* Ajuste conforme necessário */
}

/* Estilos para as mensagens enviadas pelo usuário */
.mensagem-enviada {
  background-color: #d4eafd; /* Cor diferente para mensagens enviadas pelo usuário */
  align-self: flex-end; /* Alinha à direita se forem mensagens enviadas pelo usuário */
}

.delete-button {
  background-color: #ff3333; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none;
  border-radius: 50%; /* Bordas arredondadas para formar um círculo */
  width: 24px; /* Largura do botão */
  height: 24px; /* Altura do botão */
  font-weight: bold;
  cursor: pointer;
  margin-left: 8px; /* Espaçamento entre a mensagem e o botão */
  float: right; /* Alinha o botão à direita */
}
