<div class="chat-container">
  <h3>{{ tituloChat }}</h3>
  <div *ngFor="let mensagem of mensagens; let i = index" [ngClass]="{'mensagem-enviada': emissores[i] === 'user', 'mensagem': emissores[i] !== 'user'}">
    <span>{{ mensagem }}</span>
    <button class="delete-button" (click)="excluirMensagem(tituloChat, i)">X</button>
    <div style="clear:both;"></div>
  </div>
  <input type="text" [(ngModel)]="strPrompt" placeholder="Digite sua mensagem..." />
  <button (click)="enviarMensagem()">Enviar</button>
</div>
