<h2>Fazer Login</h2>

<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm);">
  <label for="name">Nome:</label>
  <input type="text" id="name" name="name" ngModel required><br><br>

  <label for="cpf">CPF</label>
  <input type="text" id="cpf" name="cpf" maxlength="11" ngModel required><br><br>

  <label for="cpf">Login</label>
  <input type="text" id="login" name="login" ngModel required><br><br>

  <label for="cpf">Senha</label>
  <input type="text" id="senha" name="senha" ngModel required><br><br>

  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>

<p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
<p *ngIf="successMessage" style="color: green;">{{ successMessage }}</p>
<p id="apiMessage" style="color: black;">{{ apiMessage }}</p>

